{% extends 'expenses/base.html' %}

{% block content %}
<h2>{{ title }}</h2>

<p><a href="{% url 'add_salary' %}" class="button-link">Adicionar Salário para um Novo Ano</a></p>

{% if salaries %}
    <table>
        <thead>
            <tr>
                <th>Ano</th>
                <th>Salário Mensal (Aplicado ao Ano Todo)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for salary in salaries %}
            <tr>
                <td>{{ salary.year }}</td>
                <td>R$ {{ salary.amount|floatformat:2 }}</td> 
                <td>
                    <a href="{% url 'edit_salary' salary.pk %}" class="btnEdit"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nenhum salário anual registrado ainda.</p>
{% endif %}

{% endblock %}

